.contacts{
  background: url("../img/bg2.jpg") no-repeat center;
  background-size: cover;
  padding-top: 50px;
  position: relative;
  padding-bottom: 30px;
  .contacts_items{
    @include size(10);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .contacts_item{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      p{
        font-family: "Open Sans";
        font-size: 18px;
        text-align: center;
      }
      a{
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
        text-decoration: none;
        color: #000;
        font-family: "Open Sans";
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 3px;
        text-align: center;
        &:hover{
          color: #fff;
          border-bottom: 1px solid #fff;
        }
      }
    }
  }
}