.sprite {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-arrow {
  width: 24px;
  height: 44px;
  background-position: -5px -5px;
  &:hover{
    background-position: -39px -5px;
  }
}

.sprite-arrow_hover {
  width: 24px;
  height: 44px;
  background-position: -39px -5px;
}

.sprite-big_star {
  width: 22px;
  height: 21px;
  background-position: -73px -5px;
}

.sprite-big_star_dis {
  width: 22px;
  height: 21px;
  background-position: -105px -5px;
}

.sprite-icon_inst {
  width: 36px;
  height: 36px;
  background-position: -137px -5px;
  &:hover{
    background-position: -183px -5px;
  }
}

.sprite-icon_inst_hover {
  width: 36px;
  height: 36px;
  background-position: -183px -5px;
}

.sprite-icon_location {
  width: 26px;
  height: 34px;
  background-position: -229px -5px;
}

.sprite-icon_mail {
  width: 45px;
  height: 34px;
  background-position: -265px -5px;
}

.sprite-icon_phone {
  width: 36px;
  height: 36px;
  background-position: -320px -5px;
}

.sprite-icon_vk {
  width: 36px;
  height: 36px;
  background-position: -366px -5px;
  &:hover{
    background-position: -412px -5px;
  }
}

.sprite-icon_vk_hover {
  width: 36px;
  height: 36px;
  background-position: -412px -5px;
}

.sprite-icon_you {
  width: 36px;
  height: 36px;
  background-position: -458px -5px;
  &:hover{
    background-position: -504px -5px;
  }
}

.sprite-icon_you_hover {
  width: 36px;
  height: 36px;
  background-position: -504px -5px;
}

.sprite-play {
  width: 63px;
  height: 64px;
  background-position: -550px -5px;
  &:hover{
    background-position: -623px -5px;
  }
}

.sprite-play_hover {
  width: 63px;
  height: 64px;
  background-position: -623px -5px;
}

.sprite-star {
  width: 14px;
  height: 13px;
  background-position: -696px -5px;
}
